@model IEnumerable<RINOR_POS.ModelLicence.LicenseTypeViewModel>

@{
    ViewBag.Title = "License Type";
}

<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                License Type
                <span>
                    >
                    List
                </span>
            </h1>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <a class="btn btn-primary btn-lg pull-right header-btn hidden-mobile" href="@Url.Action("Create", "licencetype", new { id = 0 }, Request.Url.Scheme)"><i class='fa fa-plus'></i> License Type</a>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>License Type List</h2>

                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body no-padding">
                            <table class="table table-striped table-bordered table-hover" width="100%" id="table_basic">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.isActive)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LicenceName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Duration)
                                        </th>
                                        <th width="1%">Edit</th>
                                        <th width="1%">Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="InfoAsset" tabindex="-1" role="dialog"></div>
</div>

@section pagespecific {
    <script type="text/javascript">

        function DeleteData(id) {
            swal({
                title: "Are you sure want to Delete this data?",
                text: "(this process can\'t be undo)",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Sure!",
                closeOnConfirm: false,
                closeOnEsc: false,
                closeOnCancel: false,
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return new Promise(() => {
                        //ajax side
                        swal({
                            title: 'Please wait... delete data in progress....',
                            onOpen: function () {
                                swal.showLoading()
                                $.ajax({
                                    bank: "GET",
                                    url: baseURL + "licencetype/DeleteItem/" + id,
                                    success: function (data) {
                                        if (data == "1") {
                                            swal.close();
                                            swal("Success", "Success Delete Data", "success");
                                            setTimeout(location.reload(true), 5000);
                                            //window.location.href = "/asset_registration/index";
                                        }
                                        else {
                                            swal("Failed", "Failed Delete Data", "error");
                                        }

                                    },
                                });
                            }
                        });
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            }).then((result) => {
                if (result.dismiss) {
                    swal("Cancel", "You Cancel Delete Data", "error");
                }
            });
        }

        $(document).ready(function () {
            $('#table_basic').dataTable(
                {
                    "ajax": {
                        "url": baseURL + "licencetype/GetIndexList/",
                        "type": "GET",
                        "datatype": "json",
                    },
                     "dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" + "t"
                  + "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "columns": [
                         {
                             "data": "isActive",
                             "autowidth": true,
                             "mRender": function (data, type, full) {
                                 if (full['isActive'] == true) {
                                     return '<i class="fa fa-check txt-color-green">';
                                 } else if (full['isActive'] == false || full['Activate'] == null) {
                                     return '<i class="fa fa-times txt-color-red"></i>';
                                 }
                             }
                         },
                        { "data": "LicenceName", "autoWidth": true },
                        { "data": "Duration", "autoWidth": true },
                        {
                            "data": "action",
                            "autowidth": true,
                            "mRender": function (data, type, full) {
                                return '<a href="' + baseURL + 'licencetype/edit/' + full['LicenceTypeID'] + '?idw=0" title="Edit"><i class="fa fa-pencil"></i></a>';
                            }
                        },
                        {
                            "data": "action",
                            "autowidth": true,
                            "mRender": function (data, type, full) {
                                return '<a href="#" onclick="DeleteData(' + full['LicenceTypeID'] + ')" title="Delete"><i class="fa fa-trash-o txt-color-red"></i></a>';
                            }
                        }

                    ],
                    "order": [2, 'desc'],
                    "oLanguage": {
                        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                    }
                });
        });
    </script>
}
